<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style='color:white;' href="#">Macquarie</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">            
        <li ng-repeat="item in parentCtrl.navItems"
            ng-class="parentCtrl.isNavItemActive($index)">
            <a ng-click="parentCtrl.changeNavItem($index)"
               ng-bind="parentCtrl.navItems[$index].name"
               data-toggle="collapse" data-target=".navbar-collapse.in"
               href="#">
            </a>
         </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="loggedIn">
          <div id="btn-logout">
            <a class="btn btn-default navbar-btn btn-block" href="#" ng-click="parentCtrl.logoutButtonClick()">Logout</a>
          </div>
        </li>        
      </ul>         
    </div><!--/.nav-collapse -->
  </div>
</nav>