<div class="container-about">  
  <div class="row featurette">
    <div class="col-md-8">
      <h2 class="featurette-heading">What is <span class="text-info">MIA</span>?</h2>
      <p><b>Are your colleagues missing in action?</b><br>
      MIA is a proof-of-concept for a tool designed to help staff members find each other at Macquarie. Developed as a desktop, tablet and mobile solution with <a class="text-info" href="http://mean.io">innovative new web technologies</a>, MIA was created to be easy-to-use, widely accessible and seamlessly integratable into the process of finding your colleagues who seem to be missing in action. 
      </p>
      <p>
      Look forward to seeing the features of MIA in the upcoming "Macquarie ME" iPhone app!
      </p>
    </div>
    <div class="col-md-4">
      <div class="text-center" style="margin-top:30px;">
        <i class="fa fa-user-secret fa-large"></i>        
      </div>
    </div>
  </div>
  
  <hr class="featurette-divider">
  
  <div class="row featurette">
    <div class="col-md-8 col-md-push-4">
      <h2 class="featurette-heading">What is <span class="text-success">The Grad Project?</span></h2>
      <p>The Grad Project is an initiative by the COG Technology graduates to deliver on an innovative project delivering realisable business value to Macquarie during their graduate program, providing them with an opportunity to work together outside of their day-to-day responsibilities.</p>
      </p>
      <p>"MIA" was the idea selected by the 2015 graduates for The Grad Project. Since its inception in May 2015, The Grad Project has held design-thinking inspired workshops, hackathons and showcases for MIA. With the success of MIA as a proof-of-concept, we hope to secure future iterations of the Grad Project for generations of COG Technology graduates to come.
      </p>            
      <p>
      Find out more  about the Grad Project on our <a class="text-info" href="https://www.yammer.com/macquarie.com/#/threads/inGroup?type=in_group&feedId=6250174&view=all">Yammer group!</a>
      </p>
    </div>
    <div class="col-md-4 col-md-pull-8">
      <div class="text-center" style="margin-top:35px;">
        <i class="fa fa-graduation-cap fa-large"></i>        
      </div>
    </div>
  </div>

</div>