<div class="container-home">

  <h1>MIA</h1>
  <p class="lead">The Macquarie Interactive App</p>         
  <div class="container-home-item">
  
    <div class="row">
    
      <div class="col-xs-6 col-sm-3 col-sm-offset-0">
        <div class="tile-wrapper"> <!-- For centering tiles within the column -->
          <div class="thumbnail tile tile-success tile-home-item-sm hidden-xs">
              <a ui-sref="search" class="tile-home-item-contents">
                <i class="fa fa-search fa-4x"></i><br><br>
                <b>Search staff</b> 
              </a>
          </div>
        </div>
        <div class="pull-right">
          <div class="thumbnail tile tile-success tile-home-item-xs
                      hidden-sm hidden-md hidden-lg">
              <a ui-sref="search" class="tile-home-item-contents">
                <i class="fa fa-search fa-2x"></i><br><br>
                <b>Search staff</b> 
              </a>
          </div>                        
        </div>
      </div> <!-- Search button -->
            
      <div class="col-xs-6 col-sm-3 col-sm-offset-0"
           data-toggle="collapse"
           data-target=".navbar-collapse.in">    
        <div class="tile-wrapper">
          <div class="thumbnail tile tile-warning tile-home-item-sm hidden-xs">
              <a href="#" class="tile-home-item-contents">
                <i class="fa fa-users fa-4x"></i><br><br>
                <b>Find a room</b> 
              </a>
          </div>          
        </div>
        <div class="pull-left">
          <div class="thumbnail tile tile-warning tile-home-item-xs 
                      hidden-sm hidden-md hidden-lg">
              <a href="#" class="tile-home-item-contents">
                <i class="fa fa-users fa-2x"></i><br><br>
                <b>Find a room</b> 
              </a>
          </div>                        
        </div>
      </div> <!-- Meeting room button -->
      
      <div class="col-xs-6 col-sm-3 col-sm-offset-0"
           data-toggle="collapse"
           data-target=".navbar-collapse.in">      
        <div class="tile-wrapper">
          <div class="thumbnail tile tile-info tile-home-item-sm hidden-xs">
              <a class="tile-home-item-contents" ui-sref="map">
                <i class="fa fa-map fa-4x"></i><br><br>
                <b>View a floor map</b> 
              </a>
          </div>
        </div>
        <div class="pull-right">
          <div class="thumbnail tile tile-info tile-home-item-xs 
                      hidden-sm hidden-md hidden-lg">
              <a ui-sref="map"
                 class="tile-home-item-contents"
                 data-toggle="collapse"
                 data-target=".navbar-collapse.in">
                <i class="fa fa-map fa-2x"></i><br><br>
                <b>View map</b> 
              </a>
          </div>        
        </div>
      </div> <!-- Map button -->
      
      <div class="col-xs-6 col-sm-3 col-sm-offset-0"           
           data-toggle="collapse"
           data-target=".navbar-collapse.in">              

        <div class="tile-wrapper">        
          <div ng-if="!loggedIn"
               class="thumbnail tile tile-alt tile-home-item-sm hidden-xs">
              <a class="tile-home-item-contents"
                 ui-sref="login">
                <i class="fa fa-user fa-4x"></i><br><br>
                <b>Log into MIA</b> 
              </a>
          </div>
          <div ng-if="loggedIn"
               class="thumbnail tile tile-primary tile-home-item-sm hidden-xs">
              <a class="tile-home-item-contents"
                 ui-sref="user">
                <i class="fa fa-user fa-4x"></i><br><br>
                <b>View profile</b>
              </a>
          </div>          
        </div>
        
        <div class="pull-left">        
          <div ng-if="!loggedIn"
               class="thumbnail tile tile-alt tile-home-item-xs 
                      hidden-sm hidden-md hidden-lg">
              <a class="tile-home-item-contents"
                 ui-sref="login">
                <i class="fa fa-user fa-2x"></i><br><br>
                <b>Log in</b> 
              </a>
          </div>      
          <div ng-if="loggedIn"
               class="thumbnail tile tile-primary tile-home-item-xs 
                      hidden-sm hidden-md hidden-lg">
              <a class="tile-home-item-contents"
                 ui-sref="user">
                <i class="fa fa-user fa-2x"></i><br><br>
                <b>View profile</b>
              </a>
          </div>                         
        </div>
        
      </div> <!-- Login button -->
      
    </div> <!-- /.row -->
    
  </div> <!-- /.container-home-item -->
</div> <!-- /.container-home -->