<div class="container-home" ng-init="initialise()">

  <h1>Log in</h1>
  <p class="lead">Who's looking for you?</p>  
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <form ng-submit="homeCtrl.loginSubmit()">
      <div class="form-group">        
        <input type="text" class="form-control" 
          placeholder="Username"
          ng-model="homeCtrl.loginForm.username">
      </div>

      <!--
      <div class="form-group">        
        <input type="password" class="form-control" placeholder="Password" ng-model="homeCtrl.loginForm.password">
      </div>
      -->
      <div class="errorContainer">
          <div class="has-error">
            <span class="help-block" ng-repeat="error in errors">
              {{error.message}}
              <i class="glyphicon glyphicon-question-sign" aria-hidden="true"
                  data-toggle="tooltip"
                 data-placement="left"
                 title="{{error.tooltip}}"
              ></i>
            </span>
            <br>
          </div>
      </div>

      <button type="submit" class="btn btn-default">Log in</button>
    </form>
    <br>
    <p>Click <b><a ui-sref="home">here</a></b> to go back</p>
    </div>
  </div>
    
</div>
    
    
