<div class="container-home-main">

    <h1>MIA</h1>
    <p class="lead">The Macquarie Interactive App</p>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-sm-6">
            <button class="btn btn-success home-item" ng-click="parentCtrl.changeNavItemByName('Search')">
              <b>Search staff</b><br>
              Looking for someone?
            </button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-warning home-item" ng-click="parentCtrl.changeNavItemByName('Meeting')">
              <b>Find a meeting room</b><br>
              Looking for a room?       
            </button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-info home-item" ng-click="parentCtrl.changeNavItemByName('Map')">
              <b>View a map</b><br>
              Find your way around.        
            </button>
          </div>        
          <div class="col-sm-6" ng-if="loggedIn == false">                    
            <button class="btn btn-primary home-item" ng-click="homeCtrl.buttonClick('login')">
              <b>Log in</b><br>
              Who's looking for you?
            </button>
          </div>
      </div>
    </div><!-- /.row -->
 
    
</div>