<div class="container-search">

  <div class="row">
  
    <div class="col-sm-4 col-sm-offset-4">
      <input type="text" class="form-control" 
        placeholder="Search staff by name..."
        ng-model="searchCtrl.searchParams.name"
        ng-model-options="{ debounce: 350 }"
        ng-change="searchCtrl.loadStaffList(searchCtrl.searchParams.name)"/>
      <p class="lead">
        {{searchCtrl.staff.name}}
      </p>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-sm-6 col-sm-offset-3">
      <p class="alert alert-info" role="alert" style="padding: 15px;" ng-if="searchCtrl.results.length <= 0"> No matching staff profile found!</p>
      <div class="list-group listnav">
        <a class="list-group-item"
          ng-repeat="staff in searchCtrl.results track by staff.EmployeeId"           
          ui-sref="profile({ profile: staff })">
          <div class="media">
            <div class="media-left  media-middle">
          <div class="profile-container">
          <img class="media-object profile-image" ng-src="http://staffdirectory.pc.internal.macquarie.com/StaffPhotos/thumbnails/{{staff.EmployeeId}}.jpg" alt="Profile Image" onError="this.onerror=null;this.src='/img/profileImages/profile-placeholder.png'">
            </div>
          </div>
            <div class="media-body" style="padding-left: 5px;">
            <h4 class="media-heading">{{staff.Description}}</h4>
              <p> {{staff.Group}}</p>
              <div><p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{staff.Office}}</p> </div>
              <p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> {{staff.postalAddress}} - {{staff.Country}}</p>
              <button class="btn btn-success"
                      ng-click="searchCtrl.requestLocationButtonClick(staff.Shortname)">Request location</button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>
    
    
