<script src="/js/example.js"></script>

<div class="container" ng-controller="exampleController as exampleCtrl">

  <div class="container-example">
        
    <div ng-include="exampleCtrl.selectedPage.template">

    </div>

    <button type="button"
            class="btn btn-default"            
            ng-click='exampleCtrl.pageButtonClick("page0")'>Page 0</button>
    <button type="button" 
            class="btn btn-default"            
            ng-click='exampleCtrl.pageButtonClick("page1")'>Page 1</button>
    <button type="button" 
            class="btn btn-default"            
            ng-click='exampleCtrl.pageButtonClick("page2")'>Page 2</button>
    <button type="button" 
            class="btn btn-default"            
            ng-click='exampleCtrl.pageButtonClick("page3")'>Page 3</button>
  </div>
  


</div><!-- /.container -->