<script src="/js/map.js"></script>

<div class="container container-map fill"  ng-controller="mapController as mapCtrl">
  
    <div class="row fill">
      <div class="col-sm-6 col-sm-offset-3 fill">      
        <div ng-if="mapCtrl.isChoosingLocation" class="alert alert-info">Place a pin at your location</div>
        <div class="panel panel-default">
          <div class="panel-heading">            
            <select ng-options="building for building in mapCtrl.allBuildings"
                    ng-model="mapCtrl.currentLocation.building"
                    ng-change="mapCtrl.changeBuilding()">              
            </select>            
            <select ng-options="level for level in mapCtrl.allLevels"
                    ng-model="mapCtrl.currentLocation.level"
                    ng-change="mapCtrl.changeLevel()">
            </select>
          </div>          
        </div>        
        <div id="map"></div>
        <div ng-if="mapCtrl.unsupportedMap" class="alert alert-warning">This map is not supported. Please select another</div>
        <br>
        <div ng-if="mapCtrl.isChoosingLocation">
          <button ng-class="mapCtrl.sendLocationButtonClass()"
                  ng-click="mapCtrl.sendLocationButtonClick()">Send location</button>
          &nbsp;
          <button class="btn btn-default" 
                  ng-click="mapCtrl.backToRequestListButtonClick()">Back to list</button>
        </div>
      </div>
    </div>    

</div> <!-- /.container -->
