<div class="container-user">

  <div class="row">            
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Profile</h2>
      <div class="profile-container-large">
        <img class="profile-image-large" ng-src="http://staffdirectory.pc.internal.macquarie.com/StaffPhotos/{{userCtrl.user.EmployeeId}}.jpg" alt="Profile Image" onError="this.onerror=null;this.src='/img/profile-images/profile-placeholder.png'">
      </div>    
      <p class="lead" ng-bind="userCtrl.user.FirstName + ' ' + userCtrl.user.LastName"></p>        
      <table class="table table-profile">          
        <tr>
          <td>Use default location
            <i class="glyphicon glyphicon-question-sign" aria-hidden="true"
                data-toggle="tooltip"
               data-placement="left"
               title="Automatically respond to requests for your location"></i>
            </td>            
          <td>
            <span ng-if="userCtrl.profile.defaultLoc == null">
              <b>Set default location first</b>
            </span>
            <select ng-if="userCtrl.profile.defaultLoc != null"
                    ng-model="userCtrl.selectedDefaultLocType"
                    ng-change="userCtrl.defaultLocTypeChanged()"
                    ng-options="type.name for type in userCtrl.DefaultLocTypes">              
            </select>
            <span ng-if="userCtrl.displayDefaultLocDate()">
              <br class="hidden-md hidden-lg">&nbsp;
              from <b>{{userCtrl.profile.defaultLocDate | date:'h:mm a'}}</b>
            </span>
          </td>
        </tr>          
      </table>               
      <a class="btn btn-info"
         ui-sref="map({action:'set-default-loc', target:userCtrl.profile})">
         Set default location
      </a>
    </div>  
    
    <!--
    <div class="col-sm-6">
      <div class="container-groups">
        <h2>Groups</h2>
        
      </div>
    </div>
    -->
    
  </div> <!-- /.row -->    
    
</div>
    
    
