html {
  height:100%;
  min-height:100%;
  position:relative; 
}

body {
  height:100%;
  min-height:100%;
  padding-top: 50px;
  margin-bottom: 60px;
}

.logo {
  margin-top: -15px;
  height: 50px;
  width: auto;
}

.login-text {
  margin-left: 10px;
}

.color-white {
  color:white;
}

.btn-nav {    
  margin-left: 10px;
  margin-right: 10px;
}

.fill {
  height:100%;
  min-height:100%;
}

footer .container .footer-content {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
}

.toast {
  margin-right:100px;  
}