<div class="container container-notification" ng-controller="notificationController as notifyCtrl">                       
  <!-- List area -->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">      
      <h2>Notifications</h2>        
      <div ng-if="messages.length == 0">
        <br>
        <p class="lead">You have no new notifications.</p>          
        <p>Click <b><a ui-sref="home">here</a></b> to go back</p>
      </div>      
        
      <div class="panel panel-default panel-body"
           ng-if="messages.length > 0">
      
        <!-- Requests -->
        <div class="media media-middle text-left"                            
          ng-repeat="message in messages"
          ng-controller="messageProfileController as msgProfileCtrl" ng-init="init(message.sender)">          
           
          <div class="media-left">
            <div class="profile-container">
              <img class="media-object profile-image" ng-src="http://staffdirectory.pc.internal.macquarie.com/StaffPhotos/thumbnails/{{msgProfileCtrl.user.EmployeeId}}.jpg">
            </div>
          </div>
           
          <div class="media-body media-middle">
            <div class="list-group-item-text">
              <b>{{message.data.senderName}}</b> 
              <span ng-switch="message.type">
                <span ng-switch-when="request">requested your location.</span>
                <span ng-switch-when="response">
                  <span ng-if="message.data.auto">(automatically)</span>                  
                    responded to your request.                  
                </span>
                <span ng-switch-when="broadcast">sent their location to you.</span>
                <span ng-switch-when="other">
                  <span ng-switch="message.data.subtype">
                    <span ng-switch-when="auto-response-notify">
                      requested your location, and was sent your current default location
                    </span>
                  </span>                
                </span>
              </span>                                         
              <br><br>              
              <i>{{message.datetime | timeSince }} ago</i>              
              <div class="text-right">
                <span ng-switch="message.type">
                  <a ng-switch-when="request" 
                     class="btn btn-success" 
                     ui-sref="map({ action: 'send-response', target: message })">
                    <b>Respond</b>
                  </a>                       
                  <a ng-switch-when="response"
                     class="btn btn-success"
                     ui-sref="map({ action: 'view-response', target: message })">
                    <b>View</b>
                  </a>
                  <a ng-switch-when="broadcast"
                     class="btn btn-success"
                     ui-sref="map({ action: 'view-broadcast', target: message })">
                     <b>View</b>
                  </a>                   
                </span>              
                <a class="btn btn-warning" 
                  ng-click="notifyCtrl.removeMessageButtonClick(message)">
                    <b>Remove</b>
                </a>
              </div>
            </div>                                    
          </div> <!-- ./media-body -->
          <div class="media-right">       
          </div>
        </div> <!-- ./media -->
        
      </div> <!-- ./panel -->
    </div> <!-- ./col -->
  </div> <!-- ./row -->        
</div> <!-- ./container -->
