html {  
  min-height:100%;
  position:relative; 
}

body {    
  margin-bottom: 60px;
}

body > .container {
  padding: 80px 15px 0;
}

.logo {
  margin-top: -15px;
  height: 50px;
  width: auto;
}

.login-text {
  margin-left: 10px;
}

.block-div {
  display:inline-block; padding:10px 15px;
}

.color-white {
  color:white;
}

.btn-nav {    
  margin-left: 10px;
  margin-right: 10px;
}

.badge-active {
  background-color: #00A1E0;
}

.badge-inactive {
  background-color: #777;
}

.badge-custom {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;  
  border-radius: 0px;
}


footer .container .footer-content {
  margin: 20px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
}