.container-home {  
  margin-top:5vh;
  text-align: center;    
  margin-bottom:10%;
  
}

.container-home-item {
  margin-top: 7.5%;
}

.home-icon {
  font-size: 4em;
}

.tile-wrapper {
  display: inline-block;
}

.tile-home-item-sm {
  height: 150px;
  width: 180px;
  display: table;
  color: white;
}
.tile-home-item-xs {    
  height:110px;
  width:125px;
  display: table;
  color: white;
}

.tile-home-item-contents {
  display: table-cell;
  vertical-align: middle;  
  color: white;
}

/* Override tile-hover (keep color white) */
.tile-home-item-contents:hover {
  display: table-cell;
  vertical-align: middle;  
  color: white;  
}