.container-map {  
  text-align: center;      
  margin-bottom: 80px;
  
}

.map-overlay-message {
  position:relative; 
  margin-bottom:-45px; 
  z-index:1;
}

.map-overlay-message-alt {
  position:absolute;
  margin-left:50px;
  margin-top:50px;
  z-index:1;
}

.map-overlay-mapbuttons {
  position:absolute;
  margin-left:50px;
  margin-top:10px;
  z-index:1;
}

.map-bottombuttons {  
  margin-top:20px;
  margin-bottom:20px;
}

#map {
  height:67vh;
  background:white;  
}

.map-disabled {
  display: none;
}