.container-meeting {
    text-align: center;    

}

.form-inline-roomname {
    margin-top:15px;        
    margin-left: auto;
    margin-right: auto;
}

.list-rooms {
  max-height: 40vh;
  overflow: auto;

}