.container-search {    
    margin-top: 20px;    
    margin-bottom: 80px;    
}

.container-search-profile {
    margin-top: 20px;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.listnav{
    max-height: 80vh;
    overflow: auto;
}

.profile-container{
    display: block;
    width: 75px;
    height: 75px;
    margin: 10px auto;
    border-radius: 99em;
    border: 1.5px solid #eee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.profile-container-large{
    display: block;
    width: 140px;
    height: 140px;
    margin: 1em auto;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.profile-image{
    width: 75px;
}

.profile-image-large{
    width: 140px;
}

.gi-2x{
    font-size: 1.5em;
}
