<nav class="navbar navbar-inverse navbar-fixed-top" style="background:black;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo" src="/img/macquarie_personal_logo.gif">
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">
        <li ui-sref-active="active">
          <a ui-sref="home"
             data-toggle="collapse" data-target=".navbar-collapse.in">Home</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="search"
             data-toggle="collapse" data-target=".navbar-collapse.in">Search</a>
        </li>        
        <li ui-sref-active="active">
          <a ui-sref="map"
             data-toggle="collapse" data-target=".navbar-collapse.in">Map</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="loggedIn">
        <li>
          <div class="btn-nav">
            <a class="btn btn-info navbar-btn"              
              ng-click="parentCtrl.requestsButtonClick()"
              data-toggle="collapse" data-target=".navbar-collapse.in">
              Requests <span class="badge" ng-bind="requestCount"></span>
            </a>
          </div>          
        </li>
        <li>
          <div class="btn-nav">
            <a class="btn btn-success navbar-btn"
              ng-click="parentCtrl.responsesButtonClick()"
              data-toggle="collapse" data-target=".navbar-collapse.in">
              Responses <span class="badge" ng-bind="responseCount  "></span>
            </a>
          </div>          
        </li>
        <li>
          <div class="btn-nav">
            <a class="btn btn-default navbar-btn" href="#" 
              ng-click="parentCtrl.logoutButtonClick()"
              data-toggle="collapse" data-target=".navbar-collapse.in">
              Logout (<b><span ng-bind="username"></span></b>)</a>
          </div>
        </li>
      </ul>         
    </div><!--/.nav-collapse -->
  </div>
</nav>