<!DOCTYPE html>
<html lang="en" ng-app="mia">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>MIA</title>
	
    <!-- External CSS libraries -->
    <link rel="stylesheet" href="/css/_parent.css">                   
    <link rel="stylesheet" href="/util/metro-bootstrap/css/metro-bootstrap.css">
    <link rel="stylesheet" href="/util/leaflet/leaflet.css">
    <link rel="stylesheet" href="/util/angular-loading-bar/loading-bar.css">    
    <link rel="stylesheet" href="/util/ngToast/ngToast-animations.css">
    <link rel="stylesheet" href="/util/ngToast/ngToast.css">
    <link rel="stylesheet" href="/util/font-awesome/css/font-awesome.css">
    
    <!-- Page-specific CSS -->
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/meeting.css">
    <link rel="stylesheet" href="/css/notification.css">        
    
    
</head>
<body ng-controller='parentController as parentCtrl'>
    
	{% include '_base/header.html' %}    
  
    <toast></toast>
    <div class="container" ui-view>              
    </div>    
    
	{% include '_base/footer.html' %}
  
    <!-- External Javascript libraries -->
    <script src="/util/jquery-2.1.4.js"></script>
    <script src="/util/bootstrap/js/bootstrap.js"></script>
    <script src="/util/leaflet/leaflet.js"></script>       
    <script src="/util/angular-1.4.min.js"></script>
    <script src="/util/angular-ui-router/angular-ui-router.js"></script>
    <script src="/util/angular-loading-bar/loading-bar.js"></script>
    <script src="/util/angular/angular-animate.min.js"></script>
    <script src="/util/angular/angular-sanitize.min.js"></script>           
    <script src="/util/ngToast/ngToast.js"></script>
    
    <!-- MIA application files -->
    <script src="/config"></script>
    <script src="/mapViewData"></script>
    <script src="/mapItemData"></script>
    <script src="/js/_init.js"></script>    
    <script src="/js/_parent.js"></script>
    <script src="/js/home.js"></script>
    <Script src="/js/search.js"></script>
    <Script src="/js/map.js"></script>
    <Script src="/js/notification.js"></script>
    <Script src="/js/meeting.js"></script>
    
    <script src="/js/svc/requestService.js"></script>
    <script src="/js/svc/staffSearchService.js"></script>
    <script src="/js/svc/wsService.js"></script>
    
        
</body>
</html>
