<div class="container container-map fill">
  
    <div class="row fill">
      <div class="col-sm-6 col-sm-offset-3 fill">      
        <div ng-if="action === 'send-response'" class="alert alert-info">Place a pin at your location</div>
        <div class="panel panel-default">
          <div class="panel-heading">            
            <select ng-options="building for building in mapCtrl.allBuildings"
                    ng-model="mapCtrl.currentLocation.building"
                    ng-change="mapCtrl.changeBuilding()"
                    ng-disabled="action === 'view-response'">              
            </select>            
            <select ng-options="level for level in mapCtrl.allLevels"
                    ng-model="mapCtrl.currentLocation.level"
                    ng-change="mapCtrl.changeLevel()"
                    ng-disabled="action === 'view-response'">
            </select>
          </div>          
        </div>        
        <div id="map"></div>
        <div ng-if="mapCtrl.unsupportedMap" class="alert alert-warning">This map is not supported. Please select another</div>
        <br>
        <div ng-if="action === 'send-response'">
          <a ng-class="mapCtrl.sendLocationButtonClass()"
                  ng-click="mapCtrl.sendLocationButtonClick(target)"
                  ui-sref="home">Send location</a>
          &nbsp;
          <a class="btn btn-default" ui-sref="requests({ action: 'requests'})">Back to list</a>
        </div>
        <div ng-if="action === 'view-response'">
          <a class="btn btn-default" ui-sref="requests({ action: 'responses' })">Back to list</a>
        </div>
      </div>
    </div>    

</div> <!-- /.container -->
